body {
  font-family: Arial, Helvetica, sans-serif;
}
.list-grid,
.input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
}
.name-input,
.name,
.due-date-input,
.due-date {
  padding: 7px;
  font-size: 15px;
}

.add {
  background-color: green;
}
.delete {
  background-color: darkred;
}
.button {
  padding: 10px;
  height: 37.3px;
  border: none;
  color: white;
  cursor: pointer;
}
.button:hover {
  opacity: .8;
}
