body {
    padding: 30px 20px;
}
.input-grid {
    display: grid;
    grid-template-columns: 100px 150px 150px 100px;
    column-gap: 7px;
    row-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.input {
    border: solid 0.5px gray;
    padding: 10px 5px;
    border-radius: 15px;
}
.listInput {
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    border: solid 1.5px black;
    padding: 10px 5px;
    border-radius: 15px;
    color: white;
}
.button:hover {
    cursor: pointer;
}
.add {
    background-color: rgb(23, 133, 23);
}
.delete {
    background-color: rgb(133, 23, 23);
}