p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  /* This style below will be imherited */
  font-family: Roboto, Arial;
  background-color: rgb(248, 248, 248);
  margin: 0;
  padding-top: 80px;
  height: 5000px;
  padding-left: 95px;
  padding-right: 24px;
}
@media (min-width: 1500px) {
  body {
    /* This style below will be imherited */
    font-family: Roboto, Arial;
    background-color: rgb(248, 248, 248);
    margin: 0;
    padding-top: 80px;
    height: 5000px;
    padding-left: 225px;
    padding-right: 24px;
  }
}