.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  padding-top: 5px;
  z-index: 200;
}
.sidebar-link {
  background-color: white;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-link:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-size: 10px;
  text-align: center;
}
@media (min-width: 1100px) {
  .sidebar-link div {
    font-size: 11px;
  }
}
@media (min-width: 1100px) {
  .sidebar {
    width: 76px;
  }
}
@media (min-width: 1500px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 200px;
    padding-top: 5px;
    z-index: 200;
  }
  .sidebar-link {
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .sidebar-link:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
  }
  .sidebar-link img {
    height: 24px;
    margin-left: 25px;
  }
  .sidebar-link div {
    font-size: 13px;
    margin-left: 25px;
  }
}