.thumbnail {
  width: 100%;
}
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture {
  width: 36px;
  border-radius: 25px;
}
.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.video-author, .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96)  
}
.video-author {
  margin-bottom: 4px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 901px) and (min-width: 1099px) {
  .video-grid {
    grid-template-columns: 1fr 1r 1fr;
  }
}
@media (min-width: 1100px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1100px) {
  .video-title{
    font-size: 16px;
    line-height: 24px;
  }
}

.video-time {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 4px 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
}
.hyperlink-chanel, 
.hyperlink-video {
  text-decoration: none;
  color: inherit;
}
.channel-picture {
  position: relative;
  margin-bottom: 50px;
}
.chanel-desc {
  position: absolute;
  display: flex;
  padding: 10px 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  bottom: -65px;
  white-space: nowrap;
  align-items: center;
  opacity: 0;
  transition: opacity 0.18s;
  pointer-events: none;
}
.profile-desc {
  margin-left: 10px;
}
.profile-name {
  font-size: 14px;
  font-weight: bold;
}
.subs {
  color: gray;
  font-size: 13px;
}
.channel-picture:hover .chanel-desc {
  opacity: 1;
}