p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 284px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-views {
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-profile {
  color: rgb(96, 96, 96);
}
.video-description {
  color: rgb(96, 96, 96);
  width: 284px;
  line-height: 20px;
  margin-top: 18px;
  margin-bottom: 100px
}
.video-ending {
  margin-bottom: 50px;
  text-align: center;
  background-color: rgb(227, 65, 64);
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
}
.shop-now:hover {
  text-decoration: underline;
  cursor: pointer;
}
