body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  background-color: black;
}
button {
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 6px 3px 0;
  color: white;
  background-color: rgb(78, 78, 78);
  font-size: 22px;
}
button:hover {
  opacity: 0.7;
}
button:active {
  opacity: 0.5;
}
.operator {
  background-color: rgb(233, 164, 16);
}
.clear-button {
  font-size: 14px;
}
.display {
  height: 50px;
  padding: 0px;
  margin: 2px;
  font-size: 40px;
}