body {
  font-family: Arial, Helvetica, sans-serif;
}
.add-cart-button {
  border: none;
  font-size: 17px;
  font-weight: 500;
  background-color: rgb(255, 216, 20);
  padding: 8px 55px;
  border-radius: 20px;
  cursor: pointer;
}
.request-button {
  color: white;
  background-color: black;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
}
.schedule-button {
  
  color: black;
  background-color: rgb(230, 230, 230);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
}

.gaming-div{
  display: flex;
  justify-content: right;
}
.toggle-button {
  color: white;
  background-color: black;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 12px 15px;
  cursor: pointer;
  margin-right: 10px;
}
.active {
  background-color: rgb(209, 209, 209);
  padding: 10px 13px;
  border: solid 2px black;
  color: black;
}